@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ABZ Capstone Project - Exam Timetable<br />
</address>

<address>
    <strong>Alex Galka:</strong>   <a href="mailto:alexgalka96@gmail.com">alexgalka96@gmail.com</a><br />
    <strong>Brian Paquette:</strong> <a href="mailto:Bpaquette6801@conestogac.on.ca">bpaquette6801@conestogac.on.ca</a><br />
    <strong>Zack Meadows:</strong> <a href="mailto:zmeadows2626@conestogac.on.ca">zmeadows2626@conestogac.on.ca</a>
</address>