@model DateTimeOffset

@{
    ViewBag.Title = "Inbox";
}

<h2>Inbox</h2>

<table class="table">
    <tr>
        <th>
            Subject
        </th>
        <th>
            Received
        </th>
        <th>
            From
        </th>
    </tr>


        <tr>
            <td>

                @(Model)
            </td>

        </tr>


</table>