@{
    //ViewBag.Title = "Home Page";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/site/filemanager.js"></script>
}
<div class="container">
    <div class="row">
        <div class="absolute-center responsive-center">
            <div class="logo-container">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Exam Scheduletron
            </div>

                <div class="tool-panel panel shadowed">
                    <div class="panel-body">
                        @using (Html.BeginForm("ImportExcel", "ScheduleGenerator", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <label id="schedule-upload" class="tool-panel-btn btn btn-default btn-file">
                                <span class="btn-label pull-left">Upload Course Excel (.xsl)</span><input type="file" name="excelFile" style="display: none;"><!-- accept=".xsl" -->
                                <span class="glyphicon glyphicon-upload pull-right" aria-hidden="true"></span>
                            </label>
                            <label id="schedule-generate" class="tool-panel-btn btn btn-info btn-file" style="display:none;">
                                Generate Exam Schedule <input type="submit" style="display: none;">
                                <span class="glyphicon glyphicon-download pull-right" aria-hidden="true"></span>
                            </label>
                        }
                        <span class="text-info text-center">@TempData["UploadSuccess"]</span>
                        <span class="text-danger text-center">@TempData["UploadError"]</span>
                        <hr />
                        <label class="tool-panel-btn btn btn-default">
                            Download Excel Template Test
                            <span class="glyphicon glyphicon-th-list pull-right" aria-hidden="true"></span>
                        </label>
                        <hr />
                        <label class="tool-panel-btn btn btn-default">
                            Office 365 Tool
                            <span class="glyphicon glyphicon-paperclip pull-right" aria-hidden="true"></span>
                        </label>
                    </div>
                </div>

        </div>
    </div>
</div>