body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*-----------------------------*/
/* Custom */
/*-----------------------------*/

.app-background {
    background-color: #32628c;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.absolute-center.responsive-center {
  width: 50%; 
  height: 40%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}
.tool-panel{
    width:100%;
    height:100%;
    transition: 0.25s;
}
.shadowed {
    box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
}

.tool-panel-btn{
    margin-bottom:5px;
    width:100%;
}

.btn-label{
    display:block;
    width:90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.logo-container{
    width: 200%;
    margin: -50% 0 10% -50% ;
    text-align: center;
    color:white;
    font-size:300%;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
}
/*-----------------------------*/